.card {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  
}

.card img {
  height: 250px;
  border-radius: 6px 6px 0 0;
}

.card h2 {
  height: 150px;
}

.description {
  display: block;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background: #adadad;
  border-radius: 0px 0px 6px 6px;
}
.description h2,p {
  margin-bottom: 15px;
}

.description button {
  padding: 6px 12px;
  border: none;
  background: #4790e4;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: .2s;
}

.description button:hover {
  background: #3b78be;
}